<ion-header no-border>
  <ion-toolbar color="totalenvios1">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center></ion-title>
  </ion-toolbar>
</ion-header>
<span class="total-price">
  <ion-card-subtitle class="title-price">Cálculo estimado</ion-card-subtitle>
</span>
<ion-content color="totalenvios1" no-padding>
  <ion-grid class="card-flex" no-padding>
    <ion-row>
      <ion-col text-center color="totalenvios1">

        <ion-card class="welcome-card">

          <ion-item-divider>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="left">
                    Monto flete
                  </div>
                </ion-col>
                <ion-col>
                  <div class="right">
                    $1.45
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
  
          <ion-item-divider>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="left">
                    Seguro (5%)
                  </div>
                </ion-col>
                <ion-col>
                  <div class="right">
                    $0.00
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
  
          <ion-item-divider>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="left">
                    Otros cargos
                  </div>
                </ion-col>
                <ion-col>
                  <div class="right">
                    $0.00
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>

          <ion-item-divider color="light">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="left">
                    Total monto
                  </div>
                </ion-col>
                <ion-col>
                  <div class="right total-text3">
                    $14.26
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>

          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card-header>
                  <ion-card-subtitle class="title-cal left">Método de pago</ion-card-subtitle>
                  <ion-card-subtitle class="subtitle-cal left"><span class="total-text3">Paypal (4%)</span></ion-card-subtitle>
                </ion-card-header>
              </ion-col>
              <ion-col>
                <div class="right price-mt-cal">
                  $1.14
              </div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-card-header>
            <ion-card-subtitle class="total-text">Total a pagar</ion-card-subtitle>
            <ion-card-subtitle class="price"><small>$</small>16.52</ion-card-subtitle>
            <ion-card-subtitle class="total-text2">Caja de <span class="total-text3">55.88 cm x 40.64 cm x 38.1 cm</span> con un peso de <span class="total-text3">14.51 kg</span></ion-card-subtitle>
          </ion-card-header>

          <ion-button class="center" color="danger">
            Compartir <ion-icon slot="icon-only" name="share"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row style="flex-grow: 1;">
      <ion-col text-center style="background-color: #f7f7f7">
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title><ion-icon class="big space" src="assets/package.svg"></ion-icon></ion-card-title>
            <ion-card-subtitle class="total-text-info">Tiempo estimado de entrega de</ion-card-subtitle>
            <ion-card-subtitle class="entrega">4 semanas</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Puede enviarnos una copia de éste cálculo y nosotros le ofreceremos mayor información </p>
          </ion-card-content>

          <ion-item-divider>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                    Tipo de envío
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    Marítimo
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>

          <ion-item-divider>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                    País
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    Venezuela
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>

          <ion-item-divider>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                    Estado
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    Bolívar
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>

          <ion-item-divider>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                    Ciudad
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    Puerto Ordaz
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>

          <ion-item-divider>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                    Método de pago
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    Paypal
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>

          <ion-item-divider>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                    Nombre
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    Marliby Vargas
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>

          <ion-item-divider>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                    Correo electrónico
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    marlibyv@gmail.com
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>
          
        </ion-card>
      </ion-col>
    </ion-row>
    <!--   
    <ion-row>
      <ion-col text-center style="background-color: #f7f7f7">
        <p>Example text</p>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>